$grid-breakpoints: (
  xs-phone: 320px,
  xs-tablet: 640px,
  tablet: 767px,
  xl-tablet: 1023px,
  desktop: 1365px,
) !default;

:root {
  --desktop-container-width: 1224px;
  --xl-tablet-container-width: 984px;
  --tablet-container-width: 728px;
  --phone-container-width: 288px;

  .container {
    --bs-gutter-x: 2rem;

    @media all and (min-width: 576px) {
      max-width: none;
    }

    @media all and (min-width: map-get($grid-breakpoints, "tablet")) {
      max-width: var(--tablet-container-width);
    }

    @media all and (min-width: map-get($grid-breakpoints, "xl-tablet")) {
      max-width: var(--xl-tablet-container-width);
    }

    @media all and (min-width: map-get($grid-breakpoints, "desktop")) {
      max-width: var(--desktop-container-width);
    }
  }
}