@import './base.scss';
@import './color-variables.scss';
@import './grid-variables.scss';

section.container {
    padding: pxToRem(30px) pxToRem(50px);
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background: var(--white);
    gap: pxToRem(20px);
    display: flex;
    justify-content: center;
  
    @media screen and (min-width: map-get($grid-breakpoints, 'tablet')) {
      & {
        width: pxToRem(600px);
      }
    }
    @media screen and (max-width: map-get($grid-breakpoints, 'tablet')) {
      & {
        width: pxToRem(400px);
      }
    }
    @media screen and (max-width: map-get($grid-breakpoints, 'xs-tablet')) {
      & {
        width: 100%;
      }
    }
  }